Brotli==1.0.9
click==7.1.2
cx-Oracle==8.3.0
dash==2.3.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
Flask==1.1.4
Flask-Compress==1.11
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.22.3
pandas==1.4.2
plotly==5.6.0
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
tenacity==8.0.1
Werkzeug==1.0.1
wfastcgi==3.0.0
